:root {
  --white-color: #fff;
  --black-dad: #2f303a;
  --blue-ocean: #2196f3;
  --gray-mother: rgba(255, 255, 255, 0.6);
  --light-gray: #f5f4fa;
  --black-text: #212121;
}

header {
  background-color: var(--white-color);
}

main {
  background-color: var(--light-gray);
}
.container1 {
  background-color: var(--black-dad);
  color: var(--white-color);
}
.container2 {
  background-color: var(--white-color);
}

footer {
  background-color: var(--black-dad);
}
a {
  color: var(--white-color);
}

p {
  color: var(--black-text);
}
button {
  background-color: var(--blue-ocean);
}
